<div class="button-group">
  <div class="button-container">
    <img src="assets/8257712.jpg" alt="Fondo 1" class="background-img" />
    <button class="option-btn" (click)="goToStudentPerformance()">
      Ver desempeño de alumno
    </button>
  </div>

  <div class="button-container">
    <img src="assets/img2.jpg" alt="Fondo 2" class="background-img" />
    <button class="option-btn" (click)="goToCoursePerformance()">
      Ver desempeño del curso
    </button>
  </div>

  <div class="button-container">
    <img src="assets/img3.jpg" alt="Fondo 3" class="background-img" />
    <button class="option-btn" (click)="goToLevelPerformance()">
      Ver desempeño por nivel
    </button>
  </div>
</div>
