.tarjeta-rendimiento-por-estudiante {
  width: 220px;
  text-align: center;
  font-family: sans-serif;
}

.tarjeta-rendimiento-por-estudiante label {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.tarjeta {
  background-color: #e3e3e3;
  padding: 3px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 65px;
}

.porcentaje {
  position: relative;
  top: 5px;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

.descripcion {
  color: #3c3c3c;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.nivel {
  color: #3c3c3c;
  font-size: 13px;
  font-weight: 400;
}

.emoji {
  font-size: 42px;
  color: #f1c40f;
  margin-top: -6px;
}
