.container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  border-radius: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/preview.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
}
.sidebar h3 {
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #d0d0d0;
}

.sidebar li.selected {
  background-color: #b0b0b0;
  font-weight: bold;
}

.carrusel {
  flex: 1;
}

.info-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.ultima-conexion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4caf50;
}

.nivel-actual {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: black;
}

.tarjetas {
  margin-top: 10%;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tarjeta {
  min-width: 23%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.overlay {
  backdrop-filter: brightness(0.7);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.overlay h4 {
  margin: 0;
  font-size: 30px;
}

.overlay p {
  margin: 0;
  font-size: 25px;
}

.grafico {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: conic-gradient(#4caf8e 0%, #ddd 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: white;
}

.contenido {
  font-size: 18px;
  color: #ffeb3b;
  font-weight: 600;
  margin-top: 0.5rem;
}

.botones-carrusel {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.botones-carrusel button {
  background-color: #ddd;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.botones-carrusel button:hover:not(:disabled) {
  background-color: #ccc;
}

.botones-carrusel button:disabled {
  opacity: 0.5;
  cursor: default;
}
