<div class="rendimiento-del-curso-page">
  <div class="header-container">
    <button class="btn-volver" aria-label="Volver">
      <i class="fas fa-arrow-left" aria-hidden="true"></i>
    </button>
    <div class="cabecera-curso">
      <p>3°F</p>
      <div class="ultima-conexion">
        <p>Última conexión en promedio: <span class="ultima-fecha">Hace 3 días</span></p>
      </div>
    </div>
  </div>

  <div class="contenido-curso">
    <app-filtros-rendimiento class="filtros-por-rendimiento"
      [ngClass]="{ 'con-margin': rendimientoSeleccionado === rendimientoEnum.Peores }"
      (seleccionadoChange)="onCambioRendimiento($event)">
    </app-filtros-rendimiento>

    <div *ngIf="rendimientoSeleccionado === rendimientoEnum.Peores" class="tarjetas-por-estudiante-peores">
      <app-tarjeta-rendimiento-por-estudiante *ngFor="let estudiante of peoresEstudiantes" [nombre]="estudiante.nombre"
        [nivel]="estudiante.nivel" [porcentaje]="estudiante.porcentaje">
      </app-tarjeta-rendimiento-por-estudiante>
    </div>

    <div *ngIf="rendimientoSeleccionado === rendimientoEnum.Mejores" class="tarjetas-por-estudiante-mejores">
      <div class="emoji">👑</div>

      <div class="top top-1" *ngIf="mejoresEstudiantes.length > 0">
        <app-tarjeta-rendimiento-por-estudiante [nombre]="mejoresEstudiantes[0].nombre"
          [nivel]="mejoresEstudiantes[0].nivel" [porcentaje]="mejoresEstudiantes[0].porcentaje">
        </app-tarjeta-rendimiento-por-estudiante>
      </div>

      <div class="top top-2-3" *ngIf="mejoresEstudiantes.length > 2">
        <app-tarjeta-rendimiento-por-estudiante *ngFor="let estudiante of mejoresEstudiantes.slice(1,3)"
          [nombre]="estudiante.nombre" [nivel]="estudiante.nivel" [porcentaje]="estudiante.porcentaje">
        </app-tarjeta-rendimiento-por-estudiante>
      </div>

      <div class="top top-4-5" *ngIf="mejoresEstudiantes.length > 4">
        <app-tarjeta-rendimiento-por-estudiante *ngFor="let estudiante of mejoresEstudiantes.slice(3,5)"
          [nombre]="estudiante.nombre" [nivel]="estudiante.nivel" [porcentaje]="estudiante.porcentaje">
        </app-tarjeta-rendimiento-por-estudiante>
      </div>
    </div>
  </div>

</div>
