.header-container {
  display: flex;
  flex-direction: row;
  height: 10%;
  margin-bottom: 40px;
}

.btn-volver {
  background: none;
  border: none;
  color: #333;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.2s ease;
  width: 50%;
  text-align: left;
  margin-left: 2rem;
}

.btn-volver:hover {
  color: #777777;
}

.btn-volver:focus {
  outline: none;
}

.cabecera-curso {
  padding-left: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}


.ultima-fecha {
  padding-left: 10px;
  color: #C3BF5C;
  font-weight: 500;
}

.contenido-curso {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
  margin-left: 3rem;
}

.filtros-por-rendimiento {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
}

.filtros-por-rendimiento.con-margin {
  margin-bottom: 200px;
}

.tarjetas-por-estudiante-peores {
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.tarjetas-por-estudiante-mejores {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.top {
  display: flex;
  flex-direction: row;
  margin-bottom: -60px;
}

.top-1 {
  gap: 4rem;
}

.top-2-3 {
  gap: 6rem;
}

.top-4-5 {
  gap: 24rem;
}

.emoji {
  font-size: 50px;
  margin-bottom: -50px;
}
