<div class="carrusel">
  <div class="header-nivel">
    <div class="volver" (click)="volverAlTop()">
      <span class="flecha">←</span>
      <span class="texto">Volver al top de niveles</span>
    </div>

    <h3 class="titulo-centro">Desempeño por Nivel</h3>
  </div>

  <div class="tarjetas">
    <div class="tarjeta"
         *ngFor="let nivel of niveles; let i = index"
         [ngStyle]="{ 'background-image': 'url(assets/img' + (i + 1) + '.jpg)' }">
      <div class="overlay">
        <h4>Nivel {{ nivel.nivel }}</h4>
        <div class="completados-icono">
          <p>{{ nivel.completados }}/{{ nivel.total }}</p>
          <span class="icono">👤</span>
        </div>
        <p class="contenido">{{ nivel.contenido }}</p>
      </div>
    </div>
  </div>
</div>
