.estadisticas-generales-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  margin-left: 30px;
}

.estadisticas-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.top-1 {
  gap: 4rem;
}

.top-2-3 {
  gap: 6rem;
}

.emoji {
  margin-bottom: 0px;
  font-size: 50px;
}
.fondo-decorativo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
}
