<app-navbar></app-navbar>

<div class="estadisticas-generales-page">
  <img src="assets/321321.jpg" alt="Fondo decorativo" class="fondo-decorativo" />
  <app-filtros-estadisticas-generales
    (seleccionadoChange)="onCambioEstadisticas($event)"></app-filtros-estadisticas-generales>

  <div class="estadisticas-info">
    @if(estadisticaGeneralSeleccionado === estadisticaGeneralEnum.Grafico) {
    <app-chart [cursos]="cursos.todosLosCursos"></app-chart>
    } @else {
    <div class="top-info">
      <div class="emoji">👑</div>
      <div class="top top-1">
        <app-tarjeta-rendimiento-por-curso [curso]="cursos.top3Cursos[0]"></app-tarjeta-rendimiento-por-curso>
      </div>
      <div class="top top-2-3">
        <app-tarjeta-rendimiento-por-curso [curso]="cursos.top3Cursos[1]"></app-tarjeta-rendimiento-por-curso>
        <app-tarjeta-rendimiento-por-curso [curso]="cursos.top3Cursos[2]"></app-tarjeta-rendimiento-por-curso>
      </div>
    </div>
    }
  </div>
</div>
